# Claude Code
.claude/

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
/drizzle/

cspell.config.yaml
.pnpm-store/
/project.inlang/
**/paraglide/
.fast-check/
e2e/.auth/